{% extends 'payment/main.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                            Dashboard
                        </h1>
						<ol class="breadcrumb">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol> 
									
		    </div>

                    <!-- /. ROW  -->
            <div class="row" style="width:100%;">
                <div class="col-md-12" style="display: flex;justify-content: center;">
                    <div class="jumbotron" style="">
                    <div class="row" style="">
                        <div class="col-lg-1 col-1">
                            <h1><img class="img-circle" src="{{profile.image}}" style="width:80px;height:80px;border:2px solid grey;"/></h1>
                        </div>
                        <div class="col-lg-11 col-11">
                            <h2 style="margin-top:20px;font-weight:bold;">Welcome {{profile.user}}</h2>
                        </div>
                        <div class="col-12 col-lg-12 text-center" style="width:100%;">
                                <video width="500" height="400" loop autoplay muted style="width:100%;">
                                    <source src="{% static 'videos/animation.mp4' %}" type="video/mp4">
                                </video>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>

{% endblock content %}
